html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 250px;
    background-color: #cccccc;
    margin: 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

.header {
    text-align: center;
    background-image: url('Header-Image2.jpg');
    height: 150px;
    color: white;
}


#main-doc {
    display: block;
    margin-left: 15%;
    position: absolute;
    padding: 20px;
    background-image: url('Main5.jpg');
    background-size: cover;
}

.main-section {
    padding-left: 15px;
    padding-right: 50px;
}


.nav {
    background-color: #cccccc;
    width: 15%;
    position: fixed;
    font-size: 20px;
    overflow: auto;
    height: 100%;
    top: 0;
    border-right: 1px solid black;
   
}

#headerhead {
    margin: 0;
    padding-top: 25px;
    font-size: 50px;
    text-transform: capitalize;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    border-bottom: 1px solid black;

}

a:hover {
    background-color: rgba(121, 12, 12, 0.692);
}

#title_nav {

    padding: 25px;
    border-bottom: 3px solid black;
    margin-bottom: 0;
}


ul {
    list-style-type: none;
    text-align: center;
    padding-top: 35px;
}

li {
    display: inline;
    }
      
li a {
    text-decoration: none;
    padding: 15px;
}


#mainheader {
    padding: 15px;
}